TG_GlobalsManagement/pkgs/Wadl/PowerAppsSQLServerTrascenderGlobal.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://brazil-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PowerAppsSQLServerTrascenderGlobal" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Power Apps SQLServer Trascender Global" />
  <grammars>
    <jsonTypes targetNamespace="https://brazil-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_ItemInternalId_def" />
      <integer name="ResponseActionOutput_items_def_global_internal_id_def" />
      <string name="ResponseActionOutput_items_def_size_def" />
      <string name="ResponseActionOutput_items_def_line_of_business_def" />
      <string name="ResponseActionOutput_items_def_start_date_def" />
      <string name="ResponseActionOutput_items_def_project_name_def" />
      <string name="ResponseActionOutput_items_def_project_link_def" />
      <string name="ResponseActionOutput_items_def_currency_code_def" />
      <integer name="ResponseActionOutput_items_def_total_price_currency_def" />
      <string name="ResponseActionOutput_items_def_status_def" />
      <string name="ResponseActionOutput_items_def_observations_def" />
      <string name="ResponseActionOutput_items_def_created_date_def" />
      <integer name="ResponseActionOutput_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_closure_date_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_etag_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ItemInternalId" type="string" />
        <property name="global_internal_id" type="integer" />
        <property name="size" type="string" />
        <property name="line_of_business" type="string" />
        <property name="start_date" type="string" />
        <property name="project_name" type="string" />
        <property name="project_link" type="string" />
        <property name="currency_code" type="string" />
        <property name="total_price_currency" type="integer" />
        <property name="status" type="string" />
        <property name="observations" type="string" />
        <property name="created_date" type="string" />
        <property name="id" type="integer" />
        <property name="closure_date" type="string" />
        <property name="@odata.etag" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://brazil-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Table" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Filters" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>